# Build output
**/bin/
**/obj/
**/out/

# Visual Studio
**/.vs/
**/.vscode/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Test results
**/TestResults/

# NuGet
*.nupkg
**/packages/

# Docker
**/.dockerignore
**/Dockerfile*

# Git
**/.git/
**/.gitignore
**/.gitattributes

# Misc
**/node_modules/
**/npm-debug.log
**/.DS_Store
**/appsettings.Development.json